PORT=5000
MONGO_URI=mongodb://127.0.0.1:27017/student_crud
# Layer-2 (server) AES-256-GCM secret. Keep it long & random. NEVER share with frontend.
SERVER_ENC_KEY=change_me_to_a_long_random_server_secret_123456
JWT_SECRET=change_me_to_a_long_random_jwt_secret
JWT_EXPIRES_IN=1d
CLIENT_ORIGIN=http://localhost:5173
